
body, p, a {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
  max-width: 960px;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0;
  color: #5d5d5d;
}

h1 {
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #06847b;
}
.aspot {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
}
.header {
  flex-grow: 4;
  padding: 20px;
  max-width: 60%;
  display: inline-block;
  font-family: 'Poppinis', sans-serif;
  text-align: left;
}
.pic {
  flex-grow: 1;
  margin: 20px;
  display: inline-block;
  width: 450px;
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}
.links {
}
.audrey2 {
  background-image: url('../audrey.jpg');
}

a {
  color: #06847b;
  text-decoration: none;
  padding-right: 20px;
  text-decoration: underline;
}

.header p a {
  padding-right: 0px;
}

a:hover {
  color: #8480B7;
}


a:active {
  color: red;
}

.color {
  background: rgba(131,128,183,1);
  background: -moz-linear-gradient(-45deg, rgba(131,128,183,1) 0%, rgba(59,204,186,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(131,128,183,1)), color-stop(100%, rgba(59,204,186,1)));
  background: -webkit-linear-gradient(-45deg, rgba(131,128,183,1) 0%, rgba(59,204,186,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(131,128,183,1) 0%, rgba(59,204,186,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(131,128,183,1) 0%, rgba(59,204,186,1) 100%);
  background: linear-gradient(135deg, rgba(131,128,183,1) 0%, rgba(59,204,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8380b7', endColorstr='#3bccba', GradientType=1 );
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  padding: 20px;
  text-align: left;
}
.info h1 {
  display: block;
}
.sec {
  max-width: 400px;
  padding: 20px;
  display: inline-block;
}

.con {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: inline
}

.con h1 {
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 20px;
  padding-bottom: 50px;
}

.title h2 {
  display: inline-block;
}

.logo {
  padding: 10px;
  max-height: 75px;
  max-width: 150px;
}

.logo-grid {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical alignment */
  gap: 10px;
  text-align: center;
  width: 100%; 
}

.small-con {
  justify-content: center;  /* 👈 keeps 2 logos together */
  align-items: center;
}
