h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  text-align: center;
  padding: 30px;
  padding-top: 60px;
  letter-spacing: 10px;
  color: #334;
}


.line2 {

  background: #334;
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  text-align: center;
  padding: 20px;
  padding-top: 120px;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  letter-spacing: 6px;
  word-spacing: 8px;

}
text:hover {

}
body {
  margin: 0;

}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #d1d1d1;
  text-decoration: none;


}
p {
  display: inline;
}
p:hover {
    transform: translate(0, 20px);
}
