h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  text-align: center;
  padding: 50px;
  letter-spacing: 10px;
  color: #334;
}


.line2 {

  background: #334;
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  text-align: center;
  padding: 100px;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  letter-spacing: 4px;
  word-spacing: 7px;

}
body {
  margin: 0;
}
